<div class="pos-f-t">
  <div class="collapse" [ngClass]="{'show': navToggle}" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">EnadeDM</h5>
      <span class="text-muted">Escolha seu destino! </span>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/inicio']">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/resultados']">Resultados Agrupamento</a>
        </li>
      </ul>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" [ngClass]="{'collapsed': !navToggle}" (click)="toggleNav()" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

<!-- <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">EnadeDM</a>
    <button class="navbar-toggler" [ngClass]="{'collapsed': !navToggle}" (click)="toggleNav()" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" [ngClass]="{'show': navToggle}" id="navbarsExample01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/inicio']">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/resultados']">Resultados Agrupamento</a>
        </li>
      </ul>
    </div>
  </nav> -->