<div class="container">
  <div class="row my-3">
    <form [formGroup]="formFiltro" (ngSubmit)="getDataByAnoCursoAndArea()">
      <div class="col-md-4 mb-3">
        <label for="curso">Curso</label>
        <select class="custom-select d-block w-100" id="curso" required="" formControlName="curso">
          <option value=1 selected>Ciência da Computação</option>
          <option value=2>Sistemas de Informação</option>
          <option value=3>Engenharia da Computação</option>
          <option value="4">Psicologia</option>
        </select>
      </div>
      <div class="col-md-2 mb-3">
        <label for="Ano">Ano</label>
        <select *ngIf="formFiltro.controls.curso.value == '1'
                ||
                formFiltro.controls.curso.value == '2'
                ||
                formFiltro.controls.curso.value == '3'"
                class="custom-select d-block w-100" id="Ano" required="" formControlName="ano">
          <option value=2008 selected>2008</option>
          <option value=2011>2011</option>
          <option value=2014>2014</option>
        </select>
        <select *ngIf="formFiltro.controls.curso.value == '4'" class="custom-select d-block w-100" id="Ano" required="" formControlName="ano">
          <option value=2009 selected>2009</option>
          <option value=2012>2012</option>
          <option value=2015>2015</option>
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <label for="area">Área</label>
        <select
        *ngIf="formFiltro.controls.curso.value == '1'
                ||
                formFiltro.controls.curso.value == '2'
                ||
                formFiltro.controls.curso.value == '3'"
        class="custom-select d-block w-100" id="area" required="" formControlName="area">
        <option value=1 selected>Engenharia de Software</option>
        <option value=2>Bancos de dados</option>
        <option value=3>Lógica</option>
        <option value=4>Tópicos Avançados de Engenharia</option>
        <option value=5>Arquitetura de Computadores</option>
        <option value=6>Estruturas de dados</option>
        <option value=7>Sistemas Operacionais</option>
        <option value=8>Teorias da Computaçao</option>
        <option value=9>Sistemas de Informação</option>
        <option value=10>Redes de Computadores</option>
        <option value=11>Inteligência Artificial</option>
        <option value=12>Computação Gráfica</option>
      </select>

        <select *ngIf="formFiltro.controls.curso.value == '4'" class="custom-select d-block w-100" id="area" required="" formControlName="area">
          <option value=13 selected>História e Sistemas da Psicologia</option>
          <option value=14>Antropologia</option>
          <option value=15>Fundamentos das Medidas Psicológicas</option>
          <option value=16>Métodos e Técnicas de Avaliação Psicológica </option>
          <option value=17>Pesquisa em Psicologia</option>
          <option value=18>Processos Básicos em Psicologia</option>
          <option value=19>Psicologia do Desenvolvimento</option>
          <option value=20>Psicologia da Personalidade</option>
          <option value=21>Psicologia Social</option>
          <option value=22>Psicologia Comunitária</option>
          <option value=23>Psicologia Experimental</option>
          <option value=24>Psicopatologia</option>
          <option value=25>Psicologia da Saúde</option>
          <option value=26>Psicologia da Educação</option>
          <option value=27>Psicologia do Trabalho</option>
          <option value=28>Psicologia nas Organizações</option>
          <option value=29>Bases biológicas do comportamento humano</option>
          <option value=30>Neuropsicologia</option>
          <option value=31>Psicologia Jurídica</option>
          <option value=32>Ética e Legislação em Psicologia</option>
          <option value=33>Psicofarmacologia</option>
          <option value=34>Psicologia do Esporte</option>
          <option value=35>Psicologia Positiva</option>
          <option value=36>Teorias e Técnicas de Dinâmica de Grupo</option>
          <option value=37>Saúde, Bioética e Sociedade</option>
          <option value=38>Intervenção em Grupos</option>
          <option value=39>Estágios Básicos</option>
        </select>
      </div>
      <div class="col-md-2 mb-3">
        <button type="submit" class="btn btn-info btn-grafico" [disabled]="!formFiltro.valid">
          Buscar Resultados
        </button>
      </div>
    </form>
  </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="graficos-tab" data-toggle="tab" href="#graficos" role="tab" aria-controls="graficos" aria-selected="false"><i class="fas fa-chart-bar" data-toggle="tooltip" data-placement="top" title="Gráficos de Barra"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="grafico-polar-tab" data-toggle="tab" href="#grafico-polar" role="tab" aria-controls="grafico-polar" aria-selected="true" ><i class="fas fa-chart-area" data-toggle="tooltip" data-placement="top" title="Gráfico de Polarização"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tabela-tab" data-toggle="tab" href="#tabela" role="tab" aria-controls="tabela" aria-selected="true" ><i class="fas fa-table" data-toggle="tooltip" data-placement="top" title="Tabela de Resultados"></i></a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active text-center" id="graficos" role="tabpanel" aria-labelledby="graficos-tab">
      <app-loading *ngIf="loading"></app-loading>
      <h4 class="text-muted mt-3" *ngIf="!concluido && !loading">Não foram encontrados resultados, por favor, altere os filtros para gerar novos gráficos</h4>
      <app-grafico-resultado *ngIf="concluido" [qtd_questoes]="qtd_questoes" label="Quantidade de Acertos" [dadosResultado]="dadosGraficoAcertos" [cores]="colorSchemeAcertos"></app-grafico-resultado>
      <app-grafico-resultado *ngIf="concluido" [qtd_questoes]="qtd_questoes" label="Quantidade de Erros" [dadosResultado]="dadosGraficoErros" [cores]="colorSchemeErros"></app-grafico-resultado>
      <app-grafico-resultado *ngIf="concluido" [qtd_questoes]="qtd_questoes" label="Quantidade de Brancos" [dadosResultado]="dadosGraficoBranco" [cores]="colorSchemeBranco"></app-grafico-resultado>
    </div>
    <div class="tab-pane fade text-center" id="grafico-polar" role="tabpanel" aria-labelledby="grafico-polar-tab">
      <app-loading *ngIf="loading"></app-loading>
      <h4 class="text-muted mt-3" *ngIf="!concluido && !loading">Não foram encontrados resultados, por favor, altere os filtros para gerar uma nova tabela</h4>
      <app-grafico-polar-resultado [dadosTotais]="dados" *ngIf="concluido"></app-grafico-polar-resultado>
    </div>
    <div class="tab-pane fade text-center" id="tabela" role="tabpanel" aria-labelledby="tabela-tab">
      <app-loading *ngIf="loading"></app-loading>
      <h4 class="text-muted mt-3" *ngIf="!concluido && !loading">Não foram encontrados resultados, por favor, altere os filtros para gerar uma nova tabela</h4>
      <app-tabela-resultados [dadosTotais]="dados" *ngIf="concluido"></app-tabela-resultados>
    </div>
  </div>

</div>
