<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Bem-vindo à EnadeDM!</h1>
    <p>A EnadeDM é uma plataforma de visualização de dados minerados do ENADE.</p>
    <p>Atualmente, a plataforma disponibiliza dados dos cursos de Sistemas de Informação, Engenharia de Software, Ciência da Computação e Psicologia.</p>
    <a class="btn btn-primary btn-sm" routerLink="/resultados-agrupamento" role="button">Resultados de agrupamento</a>
    <a class="btn btn-primary btn-sm ml-2" routerLink="/resultados-associacao" role="button">Resultados de associação</a>
  </div>
</div>
